
body.zen-mode .dual-sidebar { display: none; }
body.icon-set-outline .ic { color: transparent; -webkit-text-stroke: 1px var(--accent); }
body.icon-set-filled .ic { color: var(--accent); -webkit-text-stroke: 0; }
body.zen-mode #grid { padding: 0; }
body.zen-mode #shores-row { display: none; }
body.zen-mode #tb-cluster { opacity: 0; pointer-events: none; }